<div class="container">
    <div class="col-md-3">
        <div class="card p-3 py-4">
            <div class="text-center">
                <img src="" width="100" class="rounded-circle">
            </div>
            <div class="text-center mt-3">
                <h5 class="mt-2 mb-0"><%= @user.email_address %></h5>
                <div class="px-4 mt-1">
                    <p class="fonts">
                        <%= @user.bio -%>
                    </p>
                    <p>
                        <%= link_to "Tumblers: #{ @user.tumblers.count }", user_tumblers_path(@user) %>
                    </p>
                    <p>
                        <%= link_to "Total runs: #{@user.runs.count}", user_runs_path(@user) %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
