<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card p-3 py-4">
                <div class="text-center">
                    <img src="https://randomuser.me/api/portraits/men/14.jpg" width="100" class="rounded-circle">
                </div>
                <div class="text-center mt-3">
                    <h5 class="mt-2 mb-0">Charlie Smith</h5>
                    <span>Creative Designer</span>
                    <div class="px-4 mt-1">
                        <p class="fonts">Passionate designer with over 5 years of experience in creating user-centric
                            digital experiences. Aims to create meaningful stories through design.</p>
                    </div>
                    <ul class="social-list">
                        <li><a href="#" class="fab fa-facebook-f"></a></li>
                        <li><a href="#" class="fab fa-twitter"></a></li>
                        <li><a href="#" class="fab fa-instagram"></a></li>
                        <li><a href="#" class="fab fa-linkedin-in"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>